/*
blog v0.1
*/
p, a, body { font-family: 'Open Sans', sans-serif; }

a { text-decoration:none; }
a:link { color:#0000FF; } /* unvisited link */
a:visited { color:#800080; } /* visited link */
a:active { color:#FF0000; } /* selected link */
a:hover { text-decoration: underline; } /* mouse over link */

h1 { font-family: 'Yanone Kaffeesatz', sans-serif; }